.UserInfoBg{
    background-color: #d8ffd8;
}
.UserPosts{
    background-color: antiquewhite;
}
.PostPicture{
    width: 80%;
    height: 80%;
    padding-top: 7%;
    padding-bottom:7%;
}
.PostText{
    padding-top: 40%;
}


* { margin: 0; padding: 0; box-sizing: border-box; }
chatroom { font: 14px Helvetica, Arial; position: fixed}
#greeting {display: inline; text-align: center;}
#nickname-form {}
#drop{
	padding-left:40%; 
}
#nickname { border: 2; padding: 10px; width: 70%; margin-right: 1%; }
#select { width: 28%; background: rgb(60, 120, 180); border: none; padding: 10px; font: 10px; }
#chat-form { background: #000; padding: 3px; position: fixed; bottom: 0; width:300px; }
#message { padding: 10px; margin: 2px; width: 80%}
#send {  background: rgb(60, 120, 180); border: none; padding: 10px; }
#messages { position: fixed; top: 15%; width:90%; list-style-type: none; margin: 0; padding-top: 40px; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
#login{
    padding-top: 18%;
}