.UserInfoBg{
    background-color: #d8ffd8;
}
.UserPosts{
    background-color: antiquewhite;
}
.PostPicture{
    width: 80%;
    height: 80%;
    padding-top: 7%;
    padding-bottom:7%;
}
.PostText{
    padding-top: 40%;
}

#drop{
    padding-left: 40%;
}
#login, #loggedin {
    display: none;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
#login{
    padding-top: 18%;
}