html, body {
	height: 100%;
}

body{
	/*background-color: rgb(75, 126, 209);*/
	background-image: linear-gradient(to bottom right, rgb(75, 126, 209), black);
	background-attachment: fixed;
}

#login {
	margin-top: 13%;
	padding-top: 2%;
	padding-bottom: 5%;
	padding-left: 2%;
	padding-right: 2%;
	width: 30%;
	background-color: rgba(255,255,255,0.6);
}

#loginBtn {
	margin-top: 10%;
